@tailwind base;
@tailwind components;
@tailwind utilities;

.background-dot-pattern {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#2563eb 0.5px, #e5e5f7 0.5px);
    background-size: 12px 12px;
}
